form.imageForm {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    width: calc(100% - 3rem);
    max-width: 400px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 20px rgba(black, 0.5);
    opacity: 1;

    transition: 300ms;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    z-index: 2;

    &.hidden {
        display: none;
        background-color: transparent;
    }

    .formGroup {
        position: relative;

        label {
            position: absolute;
            padding: 0 0.5rem;
            top: -8px;
            left: 1rem;
            font-size: 0.8rem;
            background-color: white;
        }

        input[type="text"] {
            display: block;
            font-family: inherit;
            font-weight: 500;
            padding: 1rem;
            width: 100%;
            border: 1px solid black;
            outline: none;
            transition: 200ms;

            &:focus {
                box-shadow: 0 0 5px rgba(black, 0.3);
            }
        }
    }

    div.formControl {
        display: flex;
        gap: 1rem;
        align-items: center;

        a.cancel {
            cursor: pointer;
        }

        button[type="submit"] {
            width: 100%;
            font-family: inherit;
            padding: 0.8rem 1rem;
            font-size: 1rem;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    div.error {
        padding: 0.8rem;
        background-color: lighten(red, 40);
        color: darken(red, 25);
        font-size: 0.8rem;
    }
}

button.toggleImageForm {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    margin: auto;

    width: max-content;
    padding: 0.8rem 1rem;

    font-size: inherit;
    font-family: inherit;
    color: white;

    background-color: transparent;
    border: 2px solid white;

    transition: 200ms;

    cursor: pointer;

    z-index: 1;

    &:hover {
        padding: 0.8rem 1.5rem;
    }
}

div.imageSubmitSuccess {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
    opacity: 0;

    top: 1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    width: max-content;
}
